* {
    box-sizing: border-box;
}

body {

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: #444444;
}

p {
    max-width: 70%;
    margin: 1em auto;
}

img {
    opacity: 0.5;
    width: 550px;
}

img:hover {
    opacity: 1;
}

h2 {
    color: blue;
    background: white;
    width: 100vw;
}



a {
    color: rgb(255, 245, 253, 0.5);
}

a:hover {
    color: white;
}

#theButton {
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid white;
    margin-top: 20px;
    background-color: black;
    color: white;
  }

  .top-5__list {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    text-align: left;
  }


.top-5__header {
    color: blue;
}
 
.top-5__header.top-5__header--colorized {
    color: pink;
    font-size: 2rem;
}